@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #343541;
  overflow: hidden;
  font-family: "Roboto", Arial, sans-serif !important;
  color: #e5e5e5;
}

* {
  box-sizing: border-box;
}
